
@{
    ViewBag.Title = "Index";
}

<section>
    <div class="title mb-10 px-15">
        <h4>Category</h4>
    </div>

    <div class="swiper px-15 grocery-category-slider grocery-category-box">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="shop.html">
                    <img src="../assets/images/grocery/product/1.png" class="img-fluid" alt="">
                    <span>Biryani</span>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="shop.html">
                    <img src="../assets/images/grocery/product/2.png" class="img-fluid" alt="">
                    <span>Starters</span>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="shop.html">
                    <img src="../assets/images/grocery/product/3.png" class="img-fluid" alt="">
                    <span>Indian Breads</span>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="shop.html">
                    <img src="../assets/images/grocery/product/1.png" class="img-fluid" alt="">
                    <span>Breads</span>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="category.html">
                    <span>View All</span>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Banner Section Start -->
<section class="section-t-space-4 grocery-banner-section">
    <div class="swiper banner-slider px-15">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="banner-box">
                    <img src="../assets/images/grocery/banner/1.jpg" class="img-fluid" alt="">
                    <div class="banner-content p-center-left">
                        <div>
                            <h4>Farm Fresh Veggies</h4>
                            <h5>Get instant delivery</h5>
                            <a href="shop.html" class="btn grocery-btn theme-btn">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="banner-box">
                    <img src="../assets/images/grocery/banner/2.jpg" class="img-fluid" alt="">
                    <div class="banner-content p-center-left">
                        <div>
                            <h4>Stock Up Now</h4>
                            <h5>Get instant delivery</h5>
                            <a href="shop.html" class="btn grocery-btn theme-btn">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Section End -->
<!-- Lowest Price Section Start -->
<section class="section-t-space-4">
    <div class="title title-2 px-15">
        <h4>Lowest Price</h4>
        <a href="shop.html" class="theme-color">See all</a>
    </div>

    <div class="swiper slider-2-3 product-slider px-15">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="product-box">
                    <a href="product.html" class="product-image">
                        <img src="../assets/images/grocery/product/10.png" class="img-fluid" alt="">
                    </a>
                    <div class="product-content">
                        <div>
                            <a href="product.html" class="name">
                                <h5>Grapes - Bangalore Blue with Seed</h5>
                            </a>
                            <h6>500g</h6>
                            <div class="price-box">
                                <h5>$25.00</h5>
                                <div class="add-quantity add-cart btn">
                                    <span class="add-btn">
                                        <i class="ri-add-line"></i>
                                    </span>
                                    <span class="remove-minus count-decrease">-</span>
                                    <input class="countdown-remove" type="number" value="0">
                                    <span class="count-increase">+</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="product-box">
                    <a href="product.html" class="product-image">
                        <img src="../assets/images/grocery/product/11.png" class="img-fluid" alt="">
                    </a>
                    <div class="product-content">
                        <div>
                            <a href="product.html" class="name">
                                <h5>Grapes - Bangalore Blue with Seed</h5>
                            </a>
                            <h6>500g</h6>
                            <div class="price-box">
                                <h5>$25.00</h5>
                                <div class="add-quantity add-cart btn">
                                    <span class="add-btn">
                                        <i class="ri-add-line"></i>
                                    </span>
                                    <span class="remove-minus count-decrease">-</span>
                                    <input class="countdown-remove" type="number" value="0">
                                    <span class="count-increase">+</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="product-box">
                    <a href="product.html" class="product-image">
                        <img src="../assets/images/grocery/product/1.png" class="img-fluid" alt="">
                    </a>
                    <div class="product-content">
                        <div>
                            <a href="product.html" class="name">
                                <h5>Grapes - Bangalore Blue with Seed</h5>
                            </a>
                            <h6>500g</h6>
                            <div class="price-box">
                                <h5>$25.00</h5>
                                <div class="add-quantity add-cart btn">
                                    <span class="add-btn">
                                        <i class="ri-add-line"></i>
                                    </span>
                                    <span class="remove-minus count-decrease">-</span>
                                    <input class="countdown-remove" type="number" value="0">
                                    <span class="count-increase">+</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="product-box">
                    <a href="product.html" class="product-image">
                        <img src="../assets/images/grocery/product/4.png" class="img-fluid" alt="">
                    </a>
                    <div class="product-content">
                        <div>
                            <a href="product.html" class="name">
                                <h5>Grapes - Bangalore Blue with Seed</h5>
                            </a>
                            <h6>500g</h6>
                            <div class="price-box">
                                <h5>$25.00</h5>
                                <div class="add-quantity add-cart btn">
                                    <span class="add-btn">
                                        <i class="ri-add-line"></i>
                                    </span>
                                    <span class="remove-minus count-decrease">-</span>
                                    <input class="countdown-remove" type="number" value="0">
                                    <span class="count-increase">+</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Lowest Price Section End -->
<!-- Everyday Essentials Section Start -->
<section class="section-t-space-4">
    <div class="title title-2 px-15">
        <h4>Everyday Essentials</h4>
        <a href="shop.html" class="theme-color">See all</a>
    </div>

    <div class="swiper slider-2-3 product-slider px-15">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="product-box">
                    <a href="product.html" class="product-image">
                        <img src="../assets/images/grocery/product/10.png" class="img-fluid" alt="">
                    </a>
                    <div class="product-content">
                        <div>
                            <a href="product.html" class="name">
                                <h5>Grapes - Bangalore Blue with Seed</h5>
                            </a>
                            <h6>500g</h6>
                            <div class="price-box">
                                <h5>$25.00</h5>
                                <div class="add-quantity add-cart btn">
                                    <span class="add-btn">
                                        <i class="ri-add-line"></i>
                                    </span>
                                    <span class="remove-minus count-decrease">-</span>
                                    <input class="countdown-remove" type="number" value="0">
                                    <span class="count-increase">+</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="product-box">
                    <a href="product.html" class="product-image">
                        <img src="../assets/images/grocery/product/3.png" class="img-fluid" alt="">
                    </a>
                    <div class="product-content">
                        <div>
                            <a href="product.html" class="name">
                                <h5>Grapes - Bangalore Blue with Seed</h5>
                            </a>
                            <h6>500g</h6>
                            <div class="price-box">
                                <h5>$25.00</h5>
                                <div class="add-quantity add-cart btn">
                                    <span class="add-btn">
                                        <i class="ri-add-line"></i>
                                    </span>
                                    <span class="remove-minus count-decrease">-</span>
                                    <input class="countdown-remove" type="number" value="0">
                                    <span class="count-increase">+</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="product-box">
                    <a href="product.html" class="product-image">
                        <img src="../assets/images/grocery/product/4.png" class="img-fluid" alt="">
                    </a>
                    <div class="product-content">
                        <div>
                            <a href="product.html" class="name">
                                <h5>Grapes - Bangalore Blue with Seed</h5>
                            </a>
                            <h6>500g</h6>
                            <div class="price-box">
                                <h5>$25.00</h5>
                                <div class="add-quantity add-cart btn">
                                    <span class="add-btn">
                                        <i class="ri-add-line"></i>
                                    </span>
                                    <span class="remove-minus count-decrease">-</span>
                                    <input class="countdown-remove" type="number" value="0">
                                    <span class="count-increase">+</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="product-box">
                    <a href="product.html" class="product-image">
                        <img src="../assets/images/grocery/product/5.png" class="img-fluid" alt="">
                    </a>
                    <div class="product-content">
                        <div>
                            <a href="product.html" class="name">
                                <h5>Grapes - Bangalore Blue with Seed</h5>
                            </a>
                            <h6>500g</h6>
                            <div class="price-box">
                                <h5>$25.00</h5>
                                <div class="add-quantity add-cart btn">
                                    <span class="add-btn">
                                        <i class="ri-add-line"></i>
                                    </span>
                                    <span class="remove-minus count-decrease">-</span>
                                    <input class="countdown-remove" type="number" value="0">
                                    <span class="count-increase">+</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Everyday Essentials Section End -->
<!-- Banner Section Start -->
<section class="section-t-space-4 grocery-banner-section">
    <div class="custom-container">
        <div class="banner-box">
            <img src="../assets/images/grocery/banner/3.jpg" class="img-fluid" alt="">
            <div class="banner-content p-center justify-content-between w-100">
                <div>
                    <h4 class="text-white">Bigger</h4>
                    <h4 class="text-white mb-0">Discounts</h4>
                </div>
                <div>
                    <a href="shop.html" class="btn grocery-btn white-btn">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Section End -->
<!-- Offer Section Start -->
<section class="section-t-space-4">
    <div class="custom-container">
        <div class="title d-flex align-items-center justify-content-between">
            <h4>Say hello to Offers!</h4>
            <a href="shop.html" class="theme-color h5">See all</a>
        </div>

        <ul class="product-offer-list">
            <li>
                <div class="product-box">
                    <a href="product.html" class="product-image">
                        <img src="../assets/images/grocery/product/15.png" class="img-fluid" alt="">
                    </a>
                    <div class="product-content">
                        <div>
                            <a href="product.html">
                                <h5 class="name">Assorted Capsicum Combo</h5>
                            </a>
                            <h5 class="category">Fruit</h5>
                            <h5 class="price">$25.00 <span>/kg</span></h5>
                        </div>
                        <div>
                            <div class="add-quantity btn">
                                <span class="add-btn">
                                    <i class="ri-add-line"></i>
                                </span>
                                <span class="remove-minus count-decrease">-</span>
                                <input class="countdown-remove" type="number" value="0">
                                <span class="count-increase">+</span>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="product-box">
                    <a href="product.html" class="product-image">
                        <img src="../assets/images/grocery/product/12.png" class="img-fluid" alt="">
                    </a>
                    <div class="product-content">
                        <div>
                            <a href="product.html">
                                <h5 class="name">Assorted Capsicum Combo</h5>
                            </a>
                            <h5 class="category">Fruit</h5>
                            <h5 class="price">$25.00 <span>/kg</span></h5>
                        </div>
                        <div>
                            <div class="add-quantity btn">
                                <span class="add-btn">
                                    <i class="ri-add-line"></i>
                                </span>
                                <span class="remove-minus count-decrease">-</span>
                                <input class="countdown-remove" type="number" value="0">
                                <span class="count-increase">+</span>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="product-box">
                    <a href="product.html" class="product-image">
                        <img src="../assets/images/grocery/product/13.png" class="img-fluid" alt="">
                    </a>
                    <div class="product-content">
                        <div>
                            <a href="product.html">
                                <h5 class="name">Assorted Capsicum Combo</h5>
                            </a>
                            <h5 class="category">Fruit</h5>
                            <h5 class="price">$25.00 <span>/kg</span></h5>
                        </div>
                        <div>
                            <div class="add-quantity btn">
                                <span class="add-btn">
                                    <i class="ri-add-line"></i>
                                </span>
                                <span class="remove-minus count-decrease">-</span>
                                <input class="countdown-remove" type="number" value="0">
                                <span class="count-increase">+</span>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
<!-- Offer Section End -->
