
@{
    ViewBag.Title = "Business User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <!--breadcrumb-->
    <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
        <div class="breadcrumb-title pe-3">User</div>
        <div class="ps-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 p-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page"> Business User</li>
                </ol>
            </nav>
        </div>

    </div>
    <!--end breadcrumb-->
    <!--Alter Later if need in case any filter -->
    @*<div class="row">
            <div class="col-md-2">
                <h6 class="mb-0 text-uppercase">Orders List</h6>
            </div>
            <div class="col-md-3">
                <select id="inputState" class="form-select">
                    <option selected>--Filter Orders--</option>
                    <option>All Orders</option>
                    <option>Paid Orders</option>
                    <option>Un-Paid Orders</option>
                    <option>Canceled Orders</option>
                </select>
            </div>
            <div class="col-md-3">
                <button type="button" class="btn btn-primary">
                    Search
                </button>
            </div>

            <div class="col-md-3">
                <div class="sts">
                    <select id="inputState" class="form-select">
                        <option selected>--Update Orders Status--</option>
                        <option>Paid </option>
                        <option>Un-Paid </option>
                        <option>Canceled </option>
                    </select>
                </div>
            </div>
            <div class="col-md-1 ">
                <div class="stsbtn"><button type="button" class="btn btn-success">Update</button></div>

            </div>
        </div>
             <hr />
    *@
    <!--Filter Ends Here-->
    <div class="row">
        <div class="col-lg-11">
            <h6 class="mb-0 text-uppercase">Business User</h6>
        </div>
        <div class="col-lg-1">
            <div class="ms-auto">
                <div class="btn-group">
                    <a href="/AdminArea/UserMaster/CreateCategory" class="btn btn-primary">Create</a>

                </div>
            </div>
        </div>
    </div>



    <div class="card">
        <div class="card-body">
            <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap5">
                <div class="table-responsive">
                    <table id="example2" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                
                                <th>Business Name</th>
                                <th>Contact Person</th>
                                <th>Contact Number</th>
                                <th>Location</th>
                                <th>Discount(%)</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            
                                <td>Just Bake</td>
                                <td>Tiger Nixon</td>
                                <td>985632147</td>
                                <td>Edinburgh</td>
                                <td>$ 435</td>
                                <td>
                                    <a href="/AdminArea/UserMaster/CreateCategory" title="CreateCategory"><i class="text-primary" data-feather="edit"></i></a>
                                    <a href="#" title="delete"><i class="text-danger" data-feather="trash-2"></i></a>
                                </td>
                            </tr>


                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
