<div class="mobile-style-6">
    <ul>
        <li class="active">
            <a href="index.html" class="mobile-box">
                <i class="ri-home-line"></i>
                <h6>Home</h6>
            </a>
        </li>

        <li>
            <a href="category.html" class="mobile-box">
                <i class="ri-file-copy-line"></i>
                <h6>Category</h6>
            </a>
        </li>

        <li>
            <a href="search.html" class="mobile-box">
                <i class="ri-search-line"></i>
                <h6>Search</h6>
            </a>
        </li>

        <li>
            <a href="cart.html" class="mobile-box">
                <i class="ri-shopping-cart-line"></i>
                <h6>Cart</h6>
            </a>
        </li>

        <li>
            <a href="account.html" class="mobile-box">
                <i class="ri-user-3-line"></i>
                <h6>Profile</h6>
            </a>
        </li>
    </ul>
</div>
