<!-- Side Menu Offcanvas Start -->
<div class="offcanvas offcanvas-start grocery-sidemenu" tabindex="-1" id="sideMenu">
    <div class="offcanvas-body">
        <div class="profile-box">
            <a href="profile.html" class="profile-img">
                <img src="../assets/images/grocery/dp.jpg" class="img-fluid" alt="">
            </a>
            <div class="profile-content">
                <h4>Paige Turner</h4>
                <h5>paigeturner@gmail.com</h5>
            </div>
        </div>

        <ul class="menu-list">
            <li>
                <a href="order.html"><i class="ri-file-list-2-line"></i> Orders</a>
            </li>
            <li>
                <a href="wishlist.html"><i class="ri-heart-line"></i> Your Wishlist</a>
            </li>
            <li>
                <a href="payment.html"><i class="ri-bank-card-line"></i> Payment</a>
            </li>
            <li>
                <a href="save-address.html"><i class="ri-map-pin-5-line"></i> Saved Address</a>
            </li>
            <li>
                <a href="language.html"><i class="ri-file-list-2-line"></i> Language</a>
            </li>
            <li>
                <a href="notification.html"><i class="ri-notification-4-line"></i> Notification</a>
            </li>
            <li>
                <a href="setting.html"><i class="ri-settings-3-line"></i> Settings</a>
            </li>
        </ul>

        <a href="sign-in.html" class="sidebar-btn grocery-btn white-btn">Logout</a>
    </div>
</div>
<!-- Side Menu Offcanvas End -->