<!--sidebar wrapper -->
<div class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
        <div>
            <img src="~/assets/images/logo-icon.png" class="logo-icon" alt="logo icon">
        </div>
        <div>
            <h4 class="logo-text">JustBake</h4>
        </div>
        <div class="toggle-icon ms-auto">
            <i class='bx bx-arrow-to-left'></i>
        </div>
    </div>
    <!--navigation-->
    <ul class="metismenu" id="menu">
        <li>
            <a href="/AdminArea/SuperAdmin/DashBoardAdmin" class="">
                <div class="parent-icon">
                    <i class='bx bx-home-circle'></i>
                </div>
                <div class="menu-title">Dashboard</div>
            </a>

        </li>
        <li>
            <a href="/AdminArea/Orders/Index" class="">
                <div class="parent-icon">
                    <i class="bx bx-cart"></i>
                </div>
                <div class="menu-title">Orders</div>
            </a>
           
        </li>
        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon">
                    <i class="bx bx-category"></i>
                </div>
                <div class="menu-title">Products</div>
            </a>
            <ul>
                <li>
                    <a href="/AdminArea/Products/Index"><i class="bx bx-right-arrow-alt"></i>Add Products</a>
                </li>
                <li>
                    <a href="/AdminArea/Products/ProductType"><i class="bx bx-right-arrow-alt"></i>Product Types</a>
                </li>
              
            </ul>
        </li>
        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon">
                    <i class="bx bx-user-circle"></i>
                </div>
                <div class="menu-title">Users</div>
            </a>
            <ul>
                <li>
                    <a href="/AdminArea/UserMaster/Index"><i class="bx bx-right-arrow-alt"></i>Business Users</a>
                </li>
                <li>
                    <a href="/AdminArea/UserMaster/Customers"><i class="bx bx-right-arrow-alt"></i>Customers</a>
                </li>
                


            </ul>
        </li>
    </ul>
    <!--end navigation-->
</div>
<!--end sidebar wrapper -->